---
title: Index Page
---
extends layouts/_layout
block content
  #letstry
  .section
    .section__image
      img(src="img/534x800.jpg", alt="534x800.jpg")
    .section__content
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, esse!

  .section
    .section__image
      img(src="img/535x800.jpg", alt="535x800.jpg")
    .section__content
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, esse!

  .section
    .section__image
      img(src="img/600x800.jpg", alt="600x800.jpg")
    .section__content
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, esse!

  .section
    .section__image
      img(src="img/655x800.jpg", alt="655x800.jpg")
    .section__content
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, esse!
